<div id='add_recipient'>
  <form action='/recipients/new' method='post'>
    <label for='recipient'>Recipient Name
      <input type='text' name='recipient' id='recipient'/>
    </label>
      <input type='submit' value='Add Recipient'  />
  </form>
</div>
