<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Coolpay</title>
    <link rel="stylesheet" type='text/css' href='/main.css' />
  </head>
  <body>
    <div class='rowSec'>
      <% if token %>
        <div class='col-12'><p>Hello Emil.</p></div>
      <% end %>
      <%= yield %>
  </div>
  </body>
</html>
