<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Coolpay</title>
    <link rel="stylesheet" type='text/css' href='/main.css' />
    <!-- <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"> -->
  </head>
  <body>
    <% if token %>
      <p>Hello Emil.</p>
    <% end %>
    <%= yield %>
  </body>
</html>
